* {
  margin: 0;
  padding: 0;
}


.button-container {
  margin-top: 25%;

}
a{
  text-decoration: none;
}
button {
  background-color: #ffffff;
  color: #146D9B;
  border: none;
  padding: 20px 60px;
  text-align: end;
  text-decoration: none;
  display: flex;
  justify-content: right; /* Align text to the end */
  font-size: 45px;
  margin: 5px 2px;
  cursor: pointer;
  width: 50%;
  height: 100px;
  margin: 10px;
  font-weight: 600;
  border-radius: 10px;
}


.div-home {
  border: 1px solid;
  background-image: url(./images/LANDING.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}


.div-mode {
  border: 1px solid;
  background-image: url(./images/LANDING.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh; 
}

.button-container2 {
  margin-top: 18%;

}

.instruct-mode {
  border: 1px solid;
  background-image: url(./images/INSTRUCTION.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 120vh; 
}


.header-title {
  margin-top: 10%;

}
.text-title{
  width: fit-content;
  padding: 10px 60px;
  background-color: #44CF73;
  color: #fff;
  font-size: 50px;
  border-radius: 5px;
}

.header-title2 {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}


.text-title2{
  width: fit-content;
  padding: 10px 60px;
  background-color: #D63C7C;
  color: #fff;
  font-size: 50px;
  border-radius: 5px;
}


.instructions {
 margin-top: 20px;
 padding: 20px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 90%;
 border: 1px solid red;
}

.text-instruct {
  display: flex;
  margin: 0  5%;
  justify-content: center;
  flex-direction: column;
}

.instruction {
  font-size: 20px;
  padding: 15px;
}